<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.name %> さま</h2>
    <p>この度は、のご登録ありがとうございました。</p>
    <p>今後とも自炊フレンドをよろしくお願いいたします。</p>

    <p>自炊フレンド事務局</p>
  </body>
</html>